<!-- Modal calculation -->
<% start_date = @event.lease.end_date - 9.years %>
<% new_rent = 0 %>
<% i = 1 %>
<% while new_rent == 0 do %>
  <% if Indice.find(i).app_date < start_date %>
      <% new_rent = ((Indice.find(1).indice / Indice.find(i-1).indice) * @event.lease.monthly_rent).round %>
  <% end %>
  <% i += 1 %>
  <% new_rent = ((Indice.find(1).indice / Indice.find(i-1).indice) * @event.lease.monthly_rent).round if i == 41  %>
<% end %>

<!-- HTML -->
<div class="modal fade" id="Modalchoice" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="choice_owner modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">
          <%= "Fin de bail: décision du bailleur" %>
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" id='closecross'>
        <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">

      <p>Merci de renseigner le choix de <%= @event.lease.owner_name %> pour son bien situé au <%= @event.lease.tenant_address %> et dont le bail donné à <%= "#{@event.lease.tenant_first_name} #{@event.lease.tenant_name}"%> (société <%= @event.lease.tenant_company %>) touche à sa fin.</p>
      <!-- Form for owner choice -->

        <%= simple_form_for(@event) do |e| %>
        <p>Ancien loyer mensuel du bail: <%= @event.lease.monthly_rent %>€</p>
        <p>Nouveau loyer proposé au bailleur: <strong><%= new_rent %>€</strong>*</p>
        <%= e.input :new_rent, label: 'Nouveau loyer décidé par le bailleur:', value: new_rent %>
        <%= e.submit "Valider nouveau loyer", class: "btn btn-primary"  %>
        <% end %>

      </div>

      <div class="modal-footer">
        <p>*Nouveau loyer calculé selon l'indice des loyers commerciaux</p>

      </div>

    </div>
  </div>
</div>
