<table class="table table-hover" style = "background-color: white;">
  <thead>
    <tr>
      <th style = "width: 139px;">Description</th>
      <th style = "width: 102px;">Deadline (j)</th>
      <th style = "width: 223px;">Locataire</th>
      <th style = "width: 266px;">Adresse</th>
      <th style = "width: 188px;">Nature</th>
      <th style = "width: 102px;">Loyer (€/m)</th>
      <th style = "width: 258px;">Propriétaire</th>
    </tr>
  </thead>
  <tbody>

<% events.each do |event| %>
    <tr class = "table-row-event-index">
      <td><%= event.description %></td>
      <% date = event.end_date.to_date - Date.today%>
      <td><%= event.description == "retard loyer" ? "ns" : date.to_i %></td>
      <td><%= event.lease.tenant_name %></td>
      <td><%= event.lease.tenant_address %></td>
      <td><%= event.lease.nature %></td>
      <td><%= event.lease.monthly_rent %></td>
      <td><%= event.lease.owner_name %></td>
    </tr>

<% end %>
  </tbody>
</table>
