<%= form_tag events_path, method: :get, remote: true, id: "filter-form" do %>
  <%= check_box_tag :late_rent, nil, params[:late_rent], class: "checkbox-input" %>
  <%= label_tag :late_rent, "Retard de loyer" %>
  <%= check_box_tag :end_of_lease, nil, params[:end_of_lease], class: "checkbox-input" %>
  <%= label_tag :end_of_lease, "Fin de bail" %>
  <%= check_box_tag :rent_revision, nil, params[:rent_revision], class: "checkbox-input" %>
  <%= label_tag :rent_revision, "Révision de loyer" %>

<% end %>

<div id="events-container">
  <%= render "events", events: @events %>
</div>

