
<%= form_tag events_path, method: :get, remote: true, id: "filter-form" do %>
<div class="flexbox-checkbox col-xs-12">
  <div class="flexbox-checkbox-item">
    <div class="col-xs-12">
      <div class = "flexbox-checkbox">
        <div>
          <%= check_box_tag :late_rent, nil, params[:late_rent], class: "checkbox-input fancy-checkbox" %>
          <%= label_tag :late_rent%>
        </div>
        <p> Retard de loyer </p>
      </div>
    </div>
  </div>

  <div class="flexbox-checkbox-item">
    <div class="col-xs-12">
      <div class = "flexbox-checkbox">
        <div>
          <%= check_box_tag :end_of_lease, nil, params[:end_of_lease], class: "checkbox-input fancy-checkbox" %>
          <%= label_tag :end_of_lease%>
        </div>
        <p>Fin de bail </p>
      </div>
    </div>
  </div>

  <div class="flexbox-checkbox-item">
    <div class="col-xs-12">
      <div class = "flexbox-checkbox">
        <div>
          <%= check_box_tag :rent_revision, nil, params[:rent_revision], class: "checkbox-input fancy-checkbox" %>
          <%= label_tag :rent_revision %>
        </div>
        <p>Révision de loyer</p>
        <% end %>
      </div>
    </div>

  </div>
</div>


<div id="events-container">
  <%= render "events", events: @events %>
</div>

