<h1>Events#index</h1>
<p>Find me in app/views/events/index.html.erb</p>

<%= form_tag events_path, method: :get, remote: true do %>
  <%= check_box_tag :late_rent, nil, params[:late_rent] %>
  <%= label_tag :late_rent, "Retard de loyer" %>
  <%= check_box_tag :end_of_lease, nil, params[:end_of_lease] %>
  <%= label_tag :end_of_lease, "Fin de bail" %>
  <%= check_box_tag :rent_revision, nil, params[:rent_revision] %>
  <%= label_tag :rent_revision, "Révision de loyer" %>

  <%= submit_tag "Filter", class: "form-inline btn btn-primary" %>
<% end %>

<div class="events">
  <%= render "events", events: @events %>
</div>
