<div class="container">
  <div class="row">
    <div class="stakeholders col-xs-12 col-md-4">
    <!-- PROPRIETAIRE -->
      <div class="stakeholder">
        <p id = "left-event-title"><strong>Propriétaire</strong></p>
        <p><strong>Nom :</strong> <%= @event.lease.owner_name %></p>
        <p><strong>Adresse :</strong> <%= @event.lease.owner_address %></p>
        <p><strong>Email : </strong><%= @event.lease.owner_email %></p>
      </div>

      <!-- BIEN -->
      <div class="stakeholder">
        <p id = "left-event-title"><strong>Bien</strong></p>
        <p><strong>Adresse :</strong> <%= @event.lease.tenant_address %></p>
        <p><strong>Nature du bail :</strong> <%= @event.lease.nature %></p>
        <p><strong>N° du lot :</strong> <%= @event.lease.num_lot %></p>
      </div>
      <!-- END BIEN -->

      <!-- LOCATAIRE -->
      <div class="stakeholder">
        <p id = "left-event-title"><strong>Locataire</strong></p>
        <% if (@event.lease.nature == "Commercial 3 ans") || (@event.lease.nature == "Commercial 9 ans")%>
        <p>Société : <%= @event.lease.tenant_name %> </p>
        <% else %>
        <p>Nom : <%= @event.lease.tenant_name %> </p>
        <p>Prénom : <%= @event.lease.tenant_first_name %></p>
        <% end %>
      </div>
    </div>
    <!-- END LEFT DIV -->

    <!-- RIGHT DIV -->
    <div class="lease-informations col-xs-12 col-md-7">
        <!-- EVENT DESCRIPTION -->
        <div>
        <% if (@event.description == "fin de bail")%>
        <p id = "type_event_bail"><%= @event.description.capitalize %> </p>
        <% elsif (@event.description == "révision de loyer")%>
        <p id = "type_event_loyer"><%= @event.description.capitalize %> </p>
        <% else %>
        <p id = "type_event_paiement"><%= @event.description.capitalize %> </p>
        <% end %>
        </div>

          <!-- END DATE -->
      <div class="event-element col-xs-12">
        <p id = "event-title"><strong>Date d'échéance</strong></p>
        <p><%= @event.end_date.strftime("%d/%m/%Y") %></p>
      </div>

      <!-- STATUS -->
      <div class="event-element col-xs-12">
        <p id = "event-title"> <strong>Statut</strong>
        <%= render 'shared/status_task_list' %>

          <%= render '/shared/button_status' %>
        </div>
        <div class="col-xs-10 col-md-10">

        <%= render 'shared/form' %>
        <% if  !@event.comments.blank?%>
          <%= render 'shared/comment', comments: @event.comments %>
          <% else %>
          <p>Il n'y a pas de commentaire sur cet évenement</p>
        <% end %>

<!--             <div class="form-group">
              <textarea class="form-control post-message" rows="5" id="comment" placeholder="Poster un message"></textarea>
              <button type="submit" class="btn btn-primary">Poster</button>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</div>
