<div class="loggedout">
  <div class="loggedout-header">
    <%= image_tag 'leasy_logo_white.png', width: 100 %>
    <%= link_to 'Se connecter', new_user_session_path, html_options={class: "link_connect"}%>

  </div>

  <div class="container">
      <div class="row row-eq-height">
        <div class="col-xs-12 col-md-5">
            <div class="loggedout-left">
              <h1>La gestion locative en un éclair.</h1>
              <hr>
              <p>Leasy est un outil très simple, pensé pour les professionels de l'immobilier.</p>
              <p>Connecté à votre portefeuille de contrats, il vous permet de gérer en quelques clics vos tâches administratives les plus récurrentes.</p>
              <button data-toggle='modal' data-target='#mailfordemo'>Obtenir une démo</button>
              <%= image_tag 'building.png' %>
            </div>
        </div>
        <div class="col-xs-12 col-md-7">
          <div class="loggedout-right">
            <div class="laptopframing">
              <%= image_tag 'laptopframe.png' %>
              <div class="iframe-position">
                <iframe id="ytplayer" type="text/html" width="576" height="324" src="http://www.youtube.com/embed/EDdyiaX6bw0?autoplay=1&origin=http://example.com&showinfo=0&autohide=1&modestbranding=1&loop=1&rel=0&mute=1&start=3625&end=3833&controls=0&version=3" frameborder="0"></iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

</div>

<div class="soft-line"></div>
<h2 class="titlebottom">Ce que fait Leasy</h2>

<div class="loggedout-bottom">

  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-4">
        <div class="bottom-feature">
          <%= image_tag('calendar.png', class: 'feature-picto') %>
          <div class="feature-desc text-center">
            <h3>Détection automatique d'évènements</h3>
            <p>Il détecte les évènements contractuels à venir à partir de votre portefeuille de baux.</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="bottom-feature">
          <%= image_tag('list.png', class: 'feature-picto') %>
          <div class="feature-desc text-center">
            <h3>Suivi des tâches associées aux évènements</h3>
            <p>Il associe à ces évènements une liste de tâches, liées au bailleur ou au locataire.</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="bottom-feature">
          <%= image_tag('mail.png', class: 'feature-picto') %>
          <div class="feature-desc text-center">
            <h3>Génération de mails/lettres en un clic</h3>
            <p>Il génère pour les bailleurs et les locataires des messages prêts à l'envoi et personnalisables.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<%= render '/shared/mailfordemo' %>


