<% if current_user %>

<div class="container">

  <div class="row top-home">
    <div class="welcomecard col-xs-12 col-md-6">
      <h3>Bienvenue, <%=@user.first_name %></h3>
      <p>Nous avons détecté pour vous <%=@nbr_total%> évènements sur vos contrats,</p>
      <p>dont <%= @nbr_urgent %> qui demandent une action urgente.</p>
      <br>
      <p>On commence?</p>
    </div>
    <div class="actioncard col-xs-12 col-md-6">
      <div class="urgent-indicator">
        <h2><%= @nbr_urgent %></h2>
        <p>Evènements urgents</p>
        <%= link_to 'Voir', urgent_events_path %>
      </div>
      <%= render 'progressbar' %>
    </div>
  </div>

  <p>Types d'évènements:</p>
  <div class="row middle-home">
    <div class="categorycard col-xs-12 col-md-4">
      <p>Fins de bail <strong>(<%=@nbr_end_lease%>)</strong></p>
      <%= link_to image_tag('end'), events_path(end_of_lease: 'on') %>
    </div>
    <div class="categorycard col-xs-12 col-md-4">
      <p>Retards de loyer <strong>(<%=@nbr_late_rent%>)</strong></p>
      <%= link_to image_tag('late'), events_path(late_rent: 'on') %>
    </div>
    <div class="categorycard col-xs-12 col-md-4">
      <p>Revisions de loyer <strong>(<%=@nbr_rent_rev%>)</strong></p>
      <%= link_to image_tag('revision'), events_path(rent_revision: 'on') %>
    </div>
  </div>



<!-- Chart -->

<%
      data = {
        labels: @labels,
        datasets: [
          {
              label: "Evolution des loyers impayés",
              backgroundColor: "rgba(127,119,244,0.5)",
              borderColor: "#91C5F9",
              data: @data
          }
        ]
      }
%>

  <%= line_chart data, width: "800px", height: "500px" %>

<% else %>
<%= render 'not_connected' %>
<% end%>
</div>


