<% if current_user %>

<div class="container">
  <h1 class='text-center'>Bienvenue <%= @user.first_name %></h1>
  <div class="top-home">
    <div class="row">
      <div class="actioncards col-xs-12 col-md-12">
          <div class="row">
            <div class='col-xs-12 col-md-12'>
              <div class="actioncard">
                <h2><%= @nbr_urgent %></h2>
                <p>Evènements urgents</p>
                <%= link_to 'Voir', events_path(emergency_level: "urgent") %>
              </div>
            </div>
          </div>

            <!-- Par catégorie -->
          <div class="row">
            <div class="col-xs-12 col-md-4">
              <div class="actioncard">
                <h2><%= @nbr_end_lease %></h2>
                <p>Fins de bail</p>
                <%= link_to 'Voir', events_path(end_of_lease: 'on') %>
              </div>
            </div>
            <div class="col-xs-12 col-md-4">
              <div class="actioncard">
                <h2><%= @nbr_rent_rev %></h2>
                <p>Retards de loyer</p>
                <%= link_to 'Voir', events_path(late_rent: 'on') %>
              </div>
            </div>
              <div class="col-xs-12 col-md-4">
                <div class="actioncard">
                  <h2><%= @nbr_late_rent %></h2>
                  <p>Révisions de loyer</p>
                  <%= link_to 'Voir', events_path(rent_revision: 'on') %>
              </div>
            </div>
          </div>
        </div>
    </div>
    <div class="row">
      <%= render 'progressbar' %>
    </div>
  </div>

<!-- Chart -->

<%
      data = {
        labels: @labels,
        datasets: [
          {
              label: "Evolution des loyers impayés",
              backgroundColor: "rgba(127,119,244,0.5)",
              borderColor: "#91C5F9",
              data: @data
          }
        ]
      }
%>

  <%= line_chart data, width: "800px", height: "500px" %>

<% else %>
<%= render 'not_connected' %>
<% end%>
</div>


