<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>leasy</title>
    <link rel="icon" href="http://example.com/favicon.png">
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>
  <body>
    <div class="page-framing">
      <%=  render 'shared/nav_bar' %>
    </div>

    <div class="content-page">
      <p class="notice hidden"><%= notice %></p>
      <p class="alert hidden"><%= alert %></p>
      <%= yield %>
    </div>

    <%= javascript_include_tag 'application' %>
  </body>
</html>
